<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/show.css" />
  <title><%= book.title %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
    <div class="show-header">
      <h1><%= book.title %> by <%= book.author %></h1>
    </div>

    <div class="show-body">
    
    <div class="show-notes-container">
    <div class="show-reading">
       <% if (book.finishedReading) { %>
         <p>You've finished reading this book!</p>
       <% } else { %>
         <p>You still have to finish reading this book!</p>
       <% } %>
    </div>

    <div class="show-recommend">
       <% if (book.recommend) { %>
         <p>You recommend this book!</p>
       <% } else { %>
         <p>You do not recommend this book!</p>
       <% } %>
    </div>

    <% if (book.notes) { %>
      <div class="show-notes">
        <p>Notes: <%= book.notes %></p>
      </div>
    <% } %>
    </div>

    <div class="image-container">
    <% if (book.bookCoverUrl) { %>
      <div class="show-book-cover">
        <img src="<%= book.bookCoverUrl %>" alt="Book Cover image" width="300" height="500">
      </div>
    <% } %>
    </div>
    </div>
    
   

    <div class="show-sidebar">
    <div class="show-actions">
      <a href="/users/<%= user._id %>/books/<%= book._id %>/edit">Edit this book</a>

      <form action="/users/<%= user._id %>/books/<%= book._id %>?_method=DELETE"
       method="POST">

      <button type="submit">Delete this book</button>
      </form>
      
    </div>
    </div>
</body>
</html>